/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* navbar design  */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared  */

.section-container {
    max-width: 1200px;
    margin: 0 auto;
}


/* main  */

body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

nav>p {
    font-size: 36px;
    color: #e6533c;
    font-weight: bold;
    font-style: italic;
}

nav div {
    border: 1px solid rgb(81, 80, 80);
    display: flex;
    align-items: center;
    gap: 47px;
    border-radius: 46px;
    padding: 3px 5px;
}

nav span {
    margin-right: 10px;
    margin-top: 10px;
    display: none;
}

.home-btn {
    background-color: #e6533c;
    padding: 5px 10px;
    border-radius: 46px;

}


.banner-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.banner-left {
    min-height: 200px;
    padding: 10px;
    width: 50%;

}

.banner-left>h1 {
    font-size: 78px;
}

.banner-left>p {
    margin: 28px 0;
}

.btn-container>button {
    width: 200px;
    height: 54px;
    color: white;
    border-radius: 42px;
}


.banner-right {
    display: flex;
    justify-content: end;
    min-height: 200px;
    padding: 50px;
    width: 50%;
    position: relative;
}


.banner-right img {
    width: 52%;
    object-fit: cover;
}

.tooltip {
    background-color: rgba(128, 128, 128, 0.313);
    position: absolute;
    top: 20%;
    right: -10%;
    width: 193px;
    height: 98px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 12px;
}


.tooltip-2 {
    background-color: rgba(64, 58, 58, 0.313);
    position: absolute;
    top: 70%;
    left: 20%;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: #e6533c;
    border-radius: 50%;
}

/* habit section  */

.habit-container {
    margin: 100px auto;
}

.habit-content {
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
}

.habit-content h2 {
    font-size: 48px;
    color: #FFFFFF;
}

.habit-content p {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 20px;
}


.habit-cards {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.habit-cards .card {
    text-align: center;
}

.habit-cards .card h3 {
    font-size: 18px;
    font-weight: 600px;
    margin: 20px 0;
}

.habit-cards .card p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);

}

.habit-cards .card img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}

/* trainings  section  */

.grid-container {
    max-width: 1200px;
    min-height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
}

.grid-container img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}



.grid-container>div {
    position: relative;

}

.grid-container>div>p {
    position: absolute;
    top: 50%;
    left: 40%;
}

.box-2 {
    grid-column: 2 / span 2;
}

.box-4 {
    grid-column: 1 / span 2;
}


/* responsive codes  */

@media screen and (max-width: 470px) {
    .menu-container {
        display: none;
    }

    nav span {
        display: inline;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-right,
    .banner-left {
        width: 100%;
    }

    .habit-cards {
        display: block;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .box-2 {
        grid-column: auto;
    }

    .box-4 {
        grid-column: auto;
    }

    .box-1,
    .box-3 {
        display: none;
    }
}